h1 {
  color: #fff;
  border-bottom: 6px solid #fff;
  width: 45vw;
  margin-left: 1rem;
}

#display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem;
}

button {
  padding: 1rem;
  background-color: #333;
  color: #eee;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 2rem;
  outline: none;
}

button:hover {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}

#monitor {
  background-color: #1aa2a7;
  color: #fff;
  font-size: 5rem;
  margin: 1rem;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: monospace;
  overflow: hidden;
}

.displaySound {
  animation: animIn 0.3s ease-in;
}
.displaySound.exit {
  animation: animOut 0.3s ease-out;
}

@keyframes animIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
